    .hamburger-menu {
        display: none;
    }
    .hamburger-menu span {
        display: none;
    }
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    }
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .navigation {
        display: flex; /*Use flexbox to arrange in a row*/
        height: 70px;
        max-width:100%;
        justify-content: space-between;
        padding: 0 36px;
        align-items: center; /*vertically center the elements*/
        background-color: white;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.15); /*adds a subtle shadow below navigation*/
        position: relative; /*to position child elmnts absolutely*/
        z-index: 20; /* to keep nav bar at top*/
    }
    .header-logo {
        position: relative;
        left: -5px;
    
    }
    .header-logo img {
        width: 190px;
        height: auto;
    }
    .header-logo img:hover {
        filter: brightness(1.1);
        cursor: pointer;
    }
    .header-contents {
        display: flex;
        justify-content: flex-end; /*align items to the right end*/
        align-items: center; /* vertically align items within container*/
        width: 100%;
        gap: 64px; /* adds space within elements*/
    }
    .header-contents ul {
        display: flex;
        gap: 50px;
        flex-direction: row; /* to make sure elements laid out horizontally*/
        list-style: none;
        text-align: center; /* centers the txt inside each element*/
        font-size: 12px;
        font-weight: 800;
        position: relative;
        
    }
    .header-contents li {
        align-items: center;  
    }

    .header-contents a {
        text-decoration: none;
        color: #000000;
        font-weight: 430;
    
    }
    .header-contents a:hover {
        color: #555555;
        cursor: pointer;
    }

    .header-contents li.councelling a {
        color:white;
        background-color: orange;
        padding: 10px;
        border-radius: 15px;
        position: relative;
        top:7px;
    
    }
    .header-contents li.councelling a:hover {
        background-color: #ffcc99;
        cursor: pointer;
    }
    .main-responsive {
        display: none;
    }
    .leftup {
        width: 348px;
        height: 348px;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 1;
    }

    .main {
        width: 775px;
        height: auto;
        position: absolute;
        right: 0;
        top: 0px;
        z-index: 2;
    }
    .fill {
        position: absolute;
        left:-50px;
        top: 150px;
        z-index: 1;
    }

    .right {
        width: 348px;
        height: 348px;
        position:absolute;
        right: 0;
        bottom: 70px;
        z-index: 1;
    }
    .badge-responsive {
        display: none;
    }
    .badge {
        position: absolute;
        z-index: 5;
        top: 23%;
        left:43%;

    }
    .headline {
        font-size: 40px;
        position: absolute;
        bottom: 37%;
        left: 15%;
        z-index: 6;
        font-weight:650;
        line-height: 1.6;
        transform: translateY(5%);
    }
    .councelling-two {
        display: inline-block;
        text-decoration: none;
        position: absolute;
        font-size: 23px;
        bottom: 30%;
        left:17%;
        z-index: 6;
        background-color: orange;
        padding: 15px 100px;
        border-radius: 30px;
        color: white;
        font-weight: 500;
        transform: translate(-5%, 5%);
    }
    .councelling-two:hover {
        background-color: #ffcc99;
        cursor: pointer;
    }
    .description {
        position: absolute;
        font-size: 12px;
        font-weight: 250;
        z-index: 6;
        bottom: 23%;
        left: 17%;
    }
    .mobile-menu {
        display: none;   
    }

@media (max-width: 1040px) {
    .navigation ul {
        display: none;
    }
    
    .hamburger-menu {
        width: 30px;
        height: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 36px;
        z-index: 11;
        

    }
    .hamburger-menu span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #00000059;
        border-radius: 2px;
    }
    .mobile-menu {
        display: none;
    }
    .mobile-menu.open {
        display: block;
        position: fixed;
        top: 70px;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 50;
        padding: 20px;
    }
    .mobile-menu ul {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        padding: 0;
        margin: 0;
        
    }
    .mobile-menu li {
        list-style: none;
        margin: 20px 0;
        align-items: center;
    }
    .mobile-menu a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.4;
        font-size: 18px;
        color: white;   
    }
    .mobile-menu a span:first-child {
        font-size: 16px;
        font-weight: 400;
        color:white;
        font-family: 'Futura', sans-serif;
        letter-spacing: 2px;
    }
    .mobile-menu a span:last-child {
        font-size: 13px;
        font-weight: bold;
        color:red;
    }


    
}
@media (max-width: 768px) {
    
    .hamburger-menu {
        position: fixed;
        display: flex;
        width: 24px;
        height: 18px;
        top: 16px;
        right: 36px;
    }

    .hamburger-menu span {
        display: block;
    }
    .mobile-menu {
        display: none;
    }
    .mobile-menu.open {
        display: block;
    }
    
    .header-logo img {
        width: 140px;
        height: auto;
    }
    .fill, .leftup, .right, .main, .badge {
        display: none;
    }
    .main-image-wrapper {
        position: relative;
        width: 100%;
        max-width: 767px;
        margin: 0 auto;
    }
    .main-responsive {
        display: block;
        width: 100%;
        height: auto;
        z-index: 10;
        
    }
    .badge-responsive {
        position: absolute;
        display: block;
        width: 100px;
        height: auto;
        bottom: -15%;
        right: 55%;
        z-index: 11;
    }
    .headline {
        position: absolute;
        font-size: 22px;
        bottom: 15%;
        left: 2%;
        transform: translateY(-20%);
        
    }
    .councelling-two {
        position: absolute;
        font-size: 18px;
        padding: 18px 140px;
        margin: 10px 20px 10px;
        bottom: 10%;
        left: 5%;
    }
    .description {
        
        bottom: 2%;
        left: 2%;
    }
    .navigation {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
}    
@media (max-width: 430px) {
    .badge-responsive {
        transform: translate(150%, 35%);
    }
    .main-responsive {
        padding-top: 50px;
    }
    .headline {
        transform: translateY(-100%);
    }
    .councelling-two {
        font-size: 14px;
        padding: 23px 95px;
        margin: 10px 5px;
        transform: translateY(-100%);
    }
    .description {
        font-size: 11px;
        transform: translateY(-50%);
        margin: 10px 5px;
    }
    

}
    

    
